langchain
langchain-google-genai
langchain-community
python-dotenv
duckduckgo-search
langchainhub
streamlit
psycopg2-binary
langchain-experimental
google.generativeai
google-cloud-aiplatform
langchain-openai
openai
groq
deepseek-ai
pymongo
